apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ dc_a_broker_name }}-wconsj-route
  namespace: {{ dc_a_artemis_namespace }}
  labels:
    ActiveMQArtemis: {{ dc_a_broker_name }}
    application: {{ dc_a_broker_name }}-app
  annotations:
    openshift.io/host.generated: 'true'
spec:
  host: amq-wconsj-{{ dc_a_artemis_cluster }}.apps.pgjwbjq2.eastus2.aroapp.io
  to:
    kind: Service
    name: {{ dc_a_broker_name }}-wconsj-0-svc
    weight: 100
  port:
    targetPort: wconsj
  tls:
    termination: edge
  wildcardPolicy: None

